<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<title></title>
		<script src="jelly.js"></script>
		<style>
			html{
				font-size: 50px;
			}
		</style>
	</head>
	<body>
		<button onclick=" $j.toast('操作成功操','loading',200)">toast</button>
		<button onclick="$j.infoAlert('info','btn','title')">inforAlert</button>
		<button onclick="confirm()">confirm</button>
		<button onclick="$j.showLoading()">loading</button>
		<button onclick="$j.closeLoading()">closeLoading</button>
	</body>
	<script>
		/**
		 * 直接引入jelly.js即可
		 * 
		 * $j.toast 参数1、文案2、类型(1、error2、warn 叹号 3、loading4、translink)3时间（2、3可不传）
		 * $j.infoAlert 1、文案，2、按钮名称 3、标题（标题可不传）
		 * 
		 * $j.showLoading  弹出京东加载框
		 * 
		 * $j.closeLoading()  关闭加载框
		 */
		
		function confirm(){
			$j.confirm({
				title: [
				    '我是标题',
			    ],
			    content: '确认删除信息吗？'
			    ,btn: ['删除1', '取消1']
			    ,yes: function(){
			    	alert('是');
			    },
			    no: function(){
			    	alert('否');
			    }
			  });
		}
		
	</script>
</html>
