.mui-content .mui-table-view:first-child{margin-top:0}
.mui-table-view-cell>a:not(.mui-btn).mui-active {
    background-color: transparent;
}
.mui-table-view:last-child{margin-bottom:1pc}
.mui-table-view{margin-top:8px}
.mui-table-view span.mui-pull-right{color:#999}
.mui-table-view-divider{background-color:#efeff4;font-size:14px}
.mui-table-view-divider:after,.mui-table-view-divider:before{height:0}
.mui-table-view .userinfo-body{position:relative;overflow:visible}
.userinfo-body .userinfo-p{position:absolute; color:#8d8d8d; right:-33px;top:11px;font-size:10px;}
.mui-media-body .mui-ellipsis{color:#000;font-size: 12px;}
.mui-ellipsis{
    margin-top: 7px;
    overflow: visible;
}

.mui-navigate-right:after, .mui-push-right:after {
    right: 15px;
    content: '\e583';
}

#me_userinfo:after{
    content:"";
}

#userInfo .mui-navigate-right:after, #userInfo .mui-push-left:after,#userInfo .mui-push-right:after {
    top: 43%;
    display: inline-block;
    -webkit-transform: translateY(-43%);
    transform: translateY(-43%);
}
.userinfo-body span{
    display: inline-block;
    margin-top:10px;
}
.userinfo-body button{
    float: right;
    margin-right: -30px;
    margin-top: 2px;
}


.me_head{
    padding: 20px 0 120px 0;
}
.me_login{
    background: url(../images/me_bg.png);
    background-repeat: repeat;
    background-size: 100%;
}
.me_login_no{
    background: url(../images/login_no_bj.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.me_head_li {
    overflow: hidden;
    position: relative;
}
.me_head_li p{
    text-align: center;
    margin:0;
}
.me_head_li p .head-img{
    line-height: 165px;
    max-width: 155px;
    height: 165px;
}
.me_head_li  .me_name{
    font-family: SulSans;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
    font-weight: 500;
    color: #3e3936;
}
.me_head_li  .me_img{
    margin-left: 12px;
}
.me_head_li  .me_other{
    margin-top: -42px;
    font-size: 12px;
    color: #FFFFFF;
}
.mui-content,body {
    background-color: #f9f5f0;
}
.mui-content .me_msg{
    margin-top: 0;
}
.mui-table-view:before,.mui-table-view:after {
    background-color: #fff;
}
.mui-content .me_ul{

}
.mui-content .mui-table-view-cell {
    padding: 14px 15px 14px 8px;
}
.mui-content .mui-table-view-cell:after {left: 0}

@media screen and (max-width: 320px) {
    .mui-table-view .userinfo-body{
        transform: scale(0.8,0.8);
    }
    .exit {

        bottom:5% !important;

    }
}