.mui-card .mui-control-content {
	padding: 10px;
}
.mui-control-content {
	margin-top:100px;
}
.mui-scroll-wrapper{
    position: fixed;
    top:100px;
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #f9f5f0;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}

.mui-collapse-content h6{
	text-align:right;
}
.mui-collapse-content h5{
	text-align:center;
    margin-bottom: 0px;
}
.mui-control-item{
    color: #f23030 !important;
				
}
.mui-control-item.mui-active{
	border-bottom: 2px solid #f23030 !important;
}	
.sender{
    font-size: 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
    color: #8f8f94;
}