/*
.mui-content{
	padding-top:63px!important;
}
*/
.input2 button {
	float: left !important;
	width: 43% !important;
}

.search-old-list {
	margin: 0;
	padding: 0;
}

.search-old-list ul {
	margin: 0 15px 0 15px;
	padding: 0;
}

.search-old-list ul li {
	padding-left: 15px;
	padding-right: 15px;
	background: #ffffff;
	border-radius: 5px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	float: left;
	margin-right: 10px;
	list-style: none;
	margin-top: 10px;
}
#search-history span{
	font-size:12px;
	line-height:20px;
}
.mui-content-w{
	overflow: hidden;
	margin-top: 15px;
}
.search-left {
	padding-left: 15px;
	font-size: 14px;
	width:40%;
	float:left;
}

.search-right {
	color: #ed5657;
	font-size: 12px;
	text-align: right;
	padding-right: 20px;
	width:40%;
	float:right;
	display:none;
}

.price-w, .gain-w {
	overflow: hidden;
	margin-top: 5px;
	font-size: 12px;
}

.price-w-left, .price-w-right, .gain-w-left, .gain-w-right {
	float: left;
}

.price-w-left {
	width: 40%;
}

.price-w-right {
	position: absolute;
    right: 0;
    width: 46%;
}

.gain-w-left {
	width: 54%;
	margin-top: -5px;
}

.gain-w-right {
	width: 69px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ed5657;
	color: #ed5657;
	margin-left: 15%;
}

.mui-table-view .mui-media-object1 {
	max-width: 120px !important;
	height: 60px !important;
	margin-right: 8px;
	width: 120px;
	padding:1px;
}
.mui-table-view .mui-media-object1 img{
	border: 1px solid #ccc;
}
.productimg{
	max-width: 80px !important;
	height: 80px !important;
	margin-right: 8px;
	width: 80px;
	padding:1px;
}
.bottom-list-product {
	height: 36px;
	margin-top: 0px;
	overflow: hidden;
	width: 100%;
}
.bottom-list {
	height: 59px;
	margin-top: 0px;
	overflow: hidden;
	width: 100%;
}

.bottom-list-left {
	width:74%;
	float: left;
}

.bottom-list-left p {
	font-size: 12px;
	line-height: 20px;
	font-size: 12px;
	color: #8d8d8d;
}

.bottom-list-right {
	width: 20%;
	float: right;
	border: 1px solid #ed5657;
	color: #ed5657;
	font-size: 12px;
	text-align: center;
	height: 27px;
	line-height: 27px;
	margin-top:30px;
}

.page2-search-w {
	overflow: hidden;
}

.page2-search-w-left {
	padding-left: 10px;
	width: 60%;
}

.page2-search-w-right {
	width: 40%;
	padding-top: 5px;
}

.pull-down-out {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 13% !important;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	
}

.pull-down-out ul {
	margin: 0;
	padding: 0;
	background: #ffffff;
	width: 100%;
	padding-top: 2%;
}

.pull-down-out ul li {
	line-height: 35px !important;
	text-align: center;
	padding-left: 0 !important;
}

.label-w {
	width: 28% !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left:8px;
}

.mui-input-group input[type=search]{
	text-align: left;
	padding:0;
}
.search-input-w {
	width: 62% !important;
	position: relative;
}

.search-sure{
	width: 45px;
	float: right;
	font-size: 14px;
}

/* .mui-backdrop {
	top: 20% !important;
} */

.ulborder {
	border-radius: 0 !important;
}

.bottom-list-2 {
	width: 100%;
}

.bottom-list-2-left {
	width: 50%;
	font-size: 12px;
	color: #8f8f94;
	padding-top: 5px;
}

.bottom-list-2-right {
	width: 46%;
}

.bottom-list-2-right .addsp {
	width: 50%;
	font-size: 12px;
	text-align: center;
	border: 1px solid #ed5657;
	color: #ed5657;
	height: 27px;
	line-height: 27px;
}

.bottom-list-2-right .share {
	width: 43%;
	float: right;
	border: 1px solid #ed5657;
	color: #ed5657;
	font-size: 12px;
	text-align: center;
	margin-right: 1%;
	height: 27px;
	line-height: 27px;
}



.list-tit {
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	color: #8f8f94;
}

.shop-font {
	margin-top: 5px;
	margin-bottom: 10px;
	line-height: 19px;
	font-size: 12px;
	color: #8f8f94;
}

.shop-font p {
	font-size: 12px !important;
}

.button-w {
	width: 45% !important;
}

.shop-bottom {
  margin-top: 10px;
}

.margin-r {
	margin-right: 10px !important;
}

.font12 {
	font-size: 12px;
}

.shop-tc-w {
	width: 100%;
	overflow: hidden;
	margin-top: 12px;
}

.shop-tc-w-l {
	width: 40%;
	font-size: 12px;
	color: #8f8f94;
}

.shop-tc-w-r {
	width: 40%;
	font-size: 12px;
	color: #8f8f94;
}

.shop-tit {
	width: 97%;
	color: #000;
	overflow: hidden;
	height: 35px;
	line-height: 35px;
	color: #8f8f94;
}
.shop-tit .font15{
	width: 83%
;
}
.shop-tit-span {
	border: 1px solid #ed5657;
	height: 25px;
	line-height: 25px;
	background: #ed5657;
	font-size: 12px;
	color: #fff;
	padding-left: 5px;
	padding-right: 5px;
}

#search-btn{
	text-align: left;
}
.pull-down-out-shop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 20% !important;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	text-align: center;
}

.button-fl-w {
	width: 99% !important;
	float: left !important;
}


#topPopover{
	width:80px;
}

.clorrblack2 a{
	font-size:14px;
}
.clorrblack2 .mui-icon-arrowdown{
	padding-right:2px;
	font-size:20px;
}
.add-product-tit-w{
	height: 35px;
    width: 100%;
    margin-top: 5%;
    line-height: 35px;
    border-bottom:1px solid #c8c7cc;
    padding-bottom: 40px;
}
.add-product-tit-w .add-product-tit{
  padding-left:20px;
  font-size: 14px;		
}
.add-product{
	width: 80%;
    height:315px;
    background: #fff;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    z-index: 9999;
    margin-top: -150px;
    display: none;
    font-size:12px;
}
.add-product h2{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}
.add-product header{
    width:100%;
    padding-top: 6px;
    padding-left: 25px;
}
.add-product header input{
    width:70%;
    height:20px;
    padding:0;
    font-size:12px;
	margin-bottom: 0!important;
}
.add-product header button{
    width:20%;
    height:22px;
    padding:0;
    font-size:12px;
}

.add-product .product_set_content{
    margin: 0 auto;
    padding: 0;
    overflow: auto;
    font-size: 12px;
    height: 190px;
    width: 86%;
}
.add-product .product_set_content li{
    width:100%;
    height:40px;
    line-height: 40px;
    border-bottom: 1px solid rgb(231,231,231);
}
.add-product footer{
    width:100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
}
.add-product footer button{
    height: 25px;
    padding: 4px 16px;
    margin: 0;
    line-height: 17px;
}
.add-product footer .btn_left{
    color: #ed5657;
    border: 1px solid #ed5657;
}
#btn_cacel_add{
    margin-left:10px;
}

.list-h{
	height: 330px;
	overflow-x: scroll;
	width: 100%;
}
.add-btn{
	margin-right:25px;
	margin-bottom:15px;
}
.mui-pager li>a, .mui-pager li>span{
	border:1px solid #dd524d;
}
.mui-ios .mui-table-view-cell{
	font-size:12px;
}
#page2 .mui-active , #page3 .mui-active ,.shop-bottom .mui-active ,#all-list .mui-active,#shop-html .mui-active{
	background:#fff!important;
}

.list-sort-all{
 display:inline-block;	
 width:90%;
}
.product_set_select{
    background-color:rgba(0,0,0,.1);
}
.hover{
	background:#ed5657!important;
	color: #ffffff!important;

}
.mui-input-group .mui-input-row{
	height: 40px;
	line-height: 40px;
}

.list-h::-webkit-scrollbar{
	width:0;height:0
}
.namew{
	width: 95%;
}
.search-out-w{
	overflow: hidden;
	margin-top: 15px;
	margin-left: 10px;
	position: relative;
}
.search-out-w .search-icon{
	position: absolute;
	top: 9px;
	left: 4px;
	font-size: 20px;
}
.input-w{
	width:83%;
	font-size: 12px;
}
.input-w input{
	padding-left: 26px;
	text-align: left;
}
.queding{
	width: 45px;
	float: right;
	font-size: 14px;
	line-height: 36px;
	color: #ed5657;
}
.mui-popover1 {
    position: absolute;
    z-index: 999;
    display: none;
    width: 280px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
    opacity: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.mui-popover1 .mui-popover-arrow {
    position: absolute;
    z-index: 1000;
    top: -25px;
    left: 0;
    overflow: hidden;
    width: 26px;
    height: 26px;
}
.mui-popover1.mui-active {
    display: block;
    opacity: 1;
}
.mui-popover .mui-popover-arrow {
    position: absolute;
    z-index: 1000;
    top: -25px;
    left: 0;
    overflow: hidden;
    width: 26px;
    height: 26px;
}
.mui-popover1 .mui-table-view1 {
	padding-left: 0;
    overflow: auto;
    max-height: 300px;
    margin-bottom: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    background-image: none;
    -webkit-overflow-scrolling: touch;
}
.mui-popover .mui-table-view1 {
    overflow: auto;
    max-height: 300px;
    margin-bottom: 0;
    border-radius: 7px;
    background-color: #f7f7f7;
    background-image: none;
    -webkit-overflow-scrolling: touch;
}
.mui-backdrop-t {
    position: fixed;
    z-index: 998;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
}
.modeClass {
	height:100% !important;
    overflow: hidden !important;
}
.allcategory {
	height: 300px;
}

.product_footer{
	position: fixed;
	height: 40px;
	line-height: 40px;
	bottom: 0;
	left: 0;
	background: #e5dfd9;
	width: 100%;
	padding: 0 10px;
	font-size: 12px;
	z-index: 11;
}
.product_footer span{
    text-align: left;
    display: inline-block;
    height: 30px;
    border-bottom: 1px solid #b7b2b2;
}
.product_footer .btn_addps{
	vertical-align: middle;
	float: right;
	height: 25px;
	line-height: 21px;
	margin-top: 8px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #f23030;
	padding: 2px 10px;
	background: #f23030;
	border-radius: 20px;
}

.select_product_box{
    position:fixed;
    bottom:40px;
    left:0;
    height:370px;
    background: #f7f7f7;
    width:100%;
    display: none;
    z-index:999;
}
.select_product_box header{
    width:100%;
    height:30px;
    line-height: 30px;
    font-size:12px;
    background-color: #fff;
    padding:0 10px;
}
.select_product_box header a{
    float:right;
    color:#ed5657;
}
.select_product_box .box_content{
    width:100%;
    height:300px;
    overflow:auto;
    list-style: none;
    padding:0;
    margin-left:-1%;
    margin-bottom:0;
}
.select_product_box .box_content li{
    float:left;
    display: inline-block;
    width:23%;
    margin-left:2%;
    position:relative;
}
.select_product_box .box_content li a{
    position: absolute;
    top:0px;
    right:0px;
    display: inline-block;
    width:18px;
    height:18px;
    line-height: 16px;
    background: gray;
    text-align: center;
    border-radius: 10px;
    color:white;
    z-index:10;
}
.select_product_box .box_content li img{
    width:100%;
    height:auto;
}

.searchbar{
    width:100%;
    height:40px;
    background-color: #e5dfd9;
    position:relative;
}
.searchbar .searchbox{
    width:83%;
    height:26px;
    margin:7px auto auto 9px;
    border:0;
    border-radius:5px;
    overflow:hidden;
    float:left;
    position: relative;
}
.searchbar .searchbox input{
    width:100%;
    border:0;
    height:26px;
    padding-left:30px;
    padding-right:30px;
    font-size:14px;
}
.searchbar .searchbox:before{
    position: absolute;
    content: '';
    top:5px;
    left: 12px;
    width:15px;
    height:15px;
    background: url(/content/img/search_open.png);
    background-size:100% 100%;
}
.searchbar .searchbox .clear_keyword{
    position: absolute;
    content: '';
    top:5px;
    right: 12px;
    width:15px;
    height:15px;
    background: url(/content/img/search_close.png);
    background-size:100% 100%;
}
.searchbar span{
    float:right;
    margin-right:15px;
    margin-top:10px;
    font-size: 14px;
    letter-spacing: -0.4px;
    text-align: justify;
    position:relative;
}

.filter{
    font-size:14px;
    color:#9b9b9b;
}
.filter .selected{
    color:#d92f10;
}
.filter span{
    display: inline-block;
    margin:20px 9px 6px 9px;
    position:relative;
}
.filter .sort{
    margin-right:20px;
}
.filter .sort:after{
    position: absolute;
    content: '';
    top:5px;
    right:-12px;
    width:10px;
    height:12px;
    background: url(/content/img/select_no.png);
    background-size:100% 100%;
}
.filter .sort_up:after{
    background: url(/content/img/select_up.png);
    background-size:100% 100%;
}
.filter .sort_down:after{
    background: url(/content/img/select_down.png);
    background-size:100% 100%;
}
.add-product {
    display: block;
}